

.shopme-form-field {
	padding: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
}

	.form-table .shopme-form-field th {
		vertical-align: top;
		text-align: left;
		padding: 20px 10px 20px 15px;
		width: 200px;
		line-height: 1.3;
		font-weight: 600;
	}

		.form-table .shopme-form-field p.description { font-size: 13px; }